PB_VERSION=0.22.0
PB_HOST=127.0.0.1
PB_PORT=8090
PB_BASE_URL=http://127.0.0.1:8090
PB_ADMIN_EMAIL=249328598@qq.com
PB_ADMIN_PASSWORD=Huhangbin2004！
PB_DATA_DIR=./pocketbase/data
PB_PUBLIC_DIR=./pocketbase/public
WORKSPACE_DIR=./workspace
SERVICE_HOST=127.0.0.1
SERVICE_PORT=8787
PUBLIC_BASE_URL=
API_KEY_HEADER=x-shutong49-api-key
